
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Windows 3.11 COOL PAGE
index.txt</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="templates/win311/style.css">
</head>
<body background="templates/win311/images/CHITZ.gif">
<div id="container">
<div id="image1" style="position:absolute; overflow:hidden; left:120px; top:540px; width:32px; height:32px; z-index:0"><a href="index.php?p=index.txt" title="index"><img src="templates/win311/images/icon_progman_win311.gif" alt="" title="" border=0 width=32 height=32></a></div>

<div id="image3" style="position:absolute; overflow:hidden; left:795px; top:30px; width:376px; height:202px; z-index:1"><img src="templates/win311/images/about.gif" alt="" title="" border=0 width=376 height=202></div>

<div id="text1" style="position:absolute; overflow:hidden; left:860px; top:60px; width:225px; height:161px; z-index:2">
<div class="wpmd">
[[about.txt]]
</div></div>

<div id="text2" style="position:absolute; overflow:hidden; left:75px; top:575px; width:114px; height:20px; z-index:3">
<a href="index.php?p=index.txt" title="index"><div class="wpmd">
<div align=center><font color="#000"><B>Main Page</B></div>
</div></a></div>

<div id="image4" style="position:absolute; overflow:hidden; left:85px; top:5px; width:416px; height:202px; z-index:4"><img src="templates/win311/images/menu.gif" alt="" title="" border=0 width=416 height=202></div>

<div id="image2" style="position:absolute; overflow:hidden; left:195px; top:100px; width:644px; height:460px; z-index:5"><img src="templates/win311/images/main.gif" alt="" title="" border=0 width=644 height=460></div>

<div id="image5" style="position:absolute; overflow:hidden; left:225px; top:40px; width:32px; height:32px; z-index:6"><a href="index.php?p=index.txt" title="index"><img src="templates/win311/images/PROGM018.ico" alt="" title="" border=0 width=32 height=32></a></div>

<div id="image6" style="position:absolute; overflow:hidden; left:125px; top:130px; width:32px; height:32px; z-index:7"><a href="index.php?p=index.txt" title="index"><img src="templates/win311/images/WRITE001.ico" alt="" title="" border=0 width=32 height=32></a></div>

<div id="image7" style="position:absolute; overflow:hidden; left:325px; top:40px; width:32px; height:32px; z-index:8"><a href="index.php?p=index.txt" title="index"><img src="templates/win311/images/WINFI001.ico" alt="" title="" border=0 width=32 height=32></a></div>

<div id="image8" style="position:absolute; overflow:hidden; left:425px; top:40px; width:32px; height:32px; z-index:9"><a href="mailto:yourmail@mail.com" title="yourmail@mail.com"><img src="templates/win311/images/MSMAI001.ico" alt="" title="" border=0 width=32 height=32></a></div>

<div id="image9" style="position:absolute; overflow:hidden; left:125px; top:40px; width:32px; height:32px; z-index:10"><a href="index.php?p=index.txt" title="index"><img src="templates/win311/images/PROGM025.ico" alt="" title="" border=0 width=32 height=32></a></div>

<div id="text3" style="position:absolute; overflow:hidden; left:95px; top:75px; width:90px; height:20px; z-index:11">
<a href="index.php?p=index.txt" title="index"><div class="wpmd">
<div align=center><font color="#000"><B>News</B></div>
</div></a></div>

<div id="text4" style="position:absolute; overflow:hidden; left:195px; top:75px; width:92px; height:20px; z-index:12">
<a href="index.php?p=index.txt" title="index"><div class="wpmd">
<div align=center><font color="#000"><B>Articles</B></div>
</div></a></div>

<div id="text5" style="position:absolute; overflow:hidden; left:295px; top:75px; width:88px; height:20px; z-index:13">
<a href="index.php?p=index.txt" title="index"><div class="wpmd">
<div align=center><font color="#000"><B>My Files</B></div>
</div></a></div>

<div id="text6" style="position:absolute; overflow:hidden; left:395px; top:75px; width:92px; height:20px; z-index:14">
<a href="mailto:yourmail@mail.com" title="yourmail@mail.com"><div class="wpmd">
<div align=center><font color="#000"><B>E-Mail</B></div>
</div></a></div>

<div id="text7" style="position:absolute; overflow:hidden; left:95px; top:165px; width:93px; height:20px; z-index:15">
<a href="index.php?p=index.txt" title="index"><div class="wpmd">
<div align=center><font color="#000"><B>My Blog</B></div>
</div></a></div>

<div id="text8" style="position:relative;  overflow:auto;  scrollbar-color: transparent transparent; left:210px; top:141px; width:625px; height:400px; z-index:16">
<div class="wpmd">
[[CONTENTS]]  
</div>

</body>
</html>
