ErrorDocument 404 /error404.html

RewriteEngine On

# 
RewriteRule ^([^/]+\..*)$ - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^blog/([^/]+)$ index.php?b=$1 [L,QSA]
RewriteRule ^([^/]+)$ index.php?p=$1 [L,QSA]
