<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>My Website</title>
<link rel="stylesheet" type="text/css" href="templates/plain/style.css">
</head>
<body>
<table class="dozqar" width="100%" cellspacing="0">
    <tr>
        <td class="dozqar" height="100" width="100%" colspan="2">
            <table class="dozqar" width="100%" cellspacing="0">
                <tr>
                    <td class="panel" width="96" height="120" style="border-top:0px solid black;margin-top:0px;">
                        <div style="font-size:70px;font-weight:bold;">&nbsp;&nbsp;Hamster&nbsp;&nbsp;</div>
                    </td>
                    <td class="doqzar" style="background-color:#977;margin:4px;border-bottom:0px solid black;text-align:left;" width="*">
                        <div style="color:#ffffff;font-size:70px;font-weight:bold;">&nbsp;&nbsp;CMS</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="dozqar" width="23%" style="padding:20px;padding-right:20px;" valign="top">
            <table class="dozqar navigation" width="100%" cellspacing="0">
[[NAVIGATION]]

            </table>
        </td>
        <td width="*" style="padding:20px;padding-right:10%;" valign="top">
            <table width="100%" style="margin-bottom:10px;">
                <tr>
                    <td class="posttitle"><?php echo isset($pageTitle) ? htmlspecialchars($pageTitle) : 'Welcome!'; ?></td>
                </tr>
                <tr>
                    <td colspan="2" class="postdata">
                    <br>
                    [[CONTENTS]]
                    </td>
                </tr>
            </table>
[[footer.txt]]
        </td>
    </tr>
</table>
</body>
</html>
